.game-menu-layout {
  display: flex;
  align-items: center;
  gap: var(--space-40);
  height: 100%;
  padding: var(--space-40);
  max-width: var(--breakpoint-2xl);
  margin: 0 auto;
  overflow: hidden;
}

.menu {
  flex-shrink: 0;
  align-self: flex-end;

  justify-content: flex-end;
  gap: var(--space-40);

  width: 100%;
  max-width: 500px;
  padding: var(--space-80) 0;
}

.modes {
  gap: var(--space-32);
}

.x-friends {
  gap: var(--space-12);
}

.x-friends-modes {
  gap: var(--space-8);
}

.board {
  display: grid;
  grid-template-columns: repeat(7, var(--size-112));
  grid-template-rows: repeat(6, var(--size-112));
  gap: var(--space-12);
  padding: var(--space-24);

  background: var(--neutral-200);
}

.token {
  background: var(--neutral-300);
  border-radius: var(--radius-full);
}
